body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2%;
}

h1 {
    font-weight: bold;
    text-align: center;
}

#description {
    text-align: center;
    float: center;
}

form {
    position: absolute;
    top: 150px;
    text-align: right;
}

form label {
    font-size: medium;
    width: 250px;
}

form label input {
    width: calc(100% - 250px);
}

// usful later
// @media (max-width: 800px) {
//     form {
//       flex-direction: column;
//     }
// }